@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0 1rem;
    margin: auto;
}

.flex, .flex-column {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.collapse {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 1.125rem;
}

.roboto-16 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
}

/* *BUTTONS */
.btn {
    padding: 0.75rem 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 1.125rem;
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--textfooter-color);
}

.btn-secondary {
    background-color: var(--textfooter-color);
    color: var(--primary-color);
}

.btn-primary:hover, .icon-bg:hover {
    background-color: var(--primary-color);
}

.btn-secondary:hover {
    background-color: transparent;
    color: var(--textfooter-color);
    border: 1px solid var(--textfooter-color);
}
/* BUTTONS END */


/* *BORDERS */
.primary-border {
    border: 2px solid var(--secondary-color);
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.topnav-border {
    border-bottom: 1px solid #707070;
    opacity: 0.4;
}
/* BORDERS END */


/** TOPNAV */
.topnav {
    padding: 1rem 0;
}

.topnav, .navbar {
    justify-content: space-between;
    align-items: center;
}

.socialmedia a {
    color: var(--primary-color);
    margin-left: 0.5rem;
}

.socialmedia a:hover {
    color: var(--secondary-color);
}

#hours i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
/* TOPNAV END */


/** NAVBAR */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.navbar-links li {
    list-style: none;
    margin-left: 2rem;
}

.navbar-links li a {
    color: var(--title-color);
    display: inline-block;
}
.navbar-links li a:hover {
    text-decoration: underline;
}

.navbar-toggler {
    font-size: 2.5rem;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
/* NAVBAR END */


/** SHOWCASE & ABOUTUS */
.showcase img, .aboutus img {
    order: 1;
}

.showcase .flex, .aboutus .flex {
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.content {
    padding: 2rem 0;
    text-align: center;
}

/* SHOWCASE */
.showcase .content .content-text p {
    padding: 2rem 0;
}

/* ABOUT US */
.aboutus .content .content-text p {
    padding: 1rem 0;
}

.stats h2 {
    color: var(--primary-color);
    padding: 0.5rem 0;
}

.aboutus img {
    display: none;
}
/* SHOWCASE & ABOUTUS END */


/* *SERVICES */
#services .container {
    padding: 0;
}

#services .content {
    justify-content: center;
}

#services .primary-border {
    width: 33%;
    align-self: center;
    margin-bottom: 0;
}

#services{
    padding-bottom: 4rem;
}

.card-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    /* margin: 0 1rem; */
}

.card {
    background-color: white;
    border-radius: 10px;
    flex: 1 0 30%;
    padding: 0.5rem;
    margin: 1rem 2rem;
    min-height: 435px;
}

.card:hover {  
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.137);
    transition: box-shadow 0.4s ease-in-out;
}

.card:hover > .icon > .icon-bg { 
    box-shadow: 0 0 10px 3px var(--primary-color);
    transition: box-shadow 0.2s ease-in-out;
    background-color: var(--primary-color);
}

.card h3, .card p {
    padding: 0.5rem;
}

.card-text {
    padding: 0 3rem;
}

.icon-bg {
    min-height: 125px;
    min-width: 125px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    /* padding: 2rem; */
    position: relative;
}

.icon-bg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    padding: 2rem;
}
/* SERVICES END */


/* *FOOTER */
#appointment {
    padding: 4rem;
    justify-content: space-between;
    text-align: center;
}

#appointment h3 {
    margin-bottom: 2rem;
}

#footer {
    padding: 1rem;
    text-align: center;
}
/* FOOTER END */


/** TEXTFORMAT */
p {
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    color: var(--text-color);
}

h1, h2, h3, h4, a {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: var(--title-color);
}

footer h3, footer p {
    color: var(--textfooter-color);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.375rem;
    line-height: 30px;
}

h4 {
    font-size: 1.125rem;
}

footer p {
    font-size: 1rem;
}
/* TEXTFORMAT END */


/** MEDIAQUERIES */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .collapse {
        display: flex;
    }

    /* NAVBAR */
    .navbar-toggler {
        display: none;
    }

    /* SHOWCASE & ABOUTUS IMAGES*/
    .showcase img, .aboutus img {
        order: 0;
        margin-top: 2rem;
    }

    /* SHOWCASE */
    .showcase .content {
        margin: 0 4rem;
        text-align: left;
    }
    h2 {
        font-size: 2.5rem;
        line-height: 50px;
    }
    .showcase .flex {
        flex-wrap: nowrap;
        align-items: center;
    }

    /* SERVICES */
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem 0;

    }
    .card {
        align-self: stretch;
        margin: 1rem
    }
    .card-text {
        padding: 0 1rem;
    }

    /* FOOTER */
    #appointment {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 1rem;
    }
    #appointment h3 {
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    h1 {
        font-size: 3.75rem;
        line-height: 70px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .aboutus .flex {
        flex-wrap: nowrap;
        align-items: center;
    }
    .stats {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        margin-right: 2rem;
        padding: 1rem 0;
    }
    .aboutus .container .content {
        margin-right: 10rem;
        text-align: left;
    }
    .aboutus img {
        display: flex;
        margin-top: 4rem;
    }
    .card-text {
        padding: 0 2rem;
    }
    #services .content h2 {
        margin-top: 4rem;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}