/* 
    Colors
        Blue color: #2baaec
        Green color: #25e6c8
        Title color: #363636
        Text color: #626262
        Placeholder color: #dedede
        Background color: #f7f7f7
        Text footer color: #f3fbff

    Character styles
        Showcase header: 60pt Roboto Slab
        Section headers: 40pt Roboto Slab
        Card Headers: 22pt Roboto Slab
        Text: 18pt Roboto

*/

@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


/* *LINKS */
a {
    text-decoration: none;
}

.socialmedia a, #stats h2 {
    color: var(--primary-color);
}

.socialmedia a:hover {
    color: var(--secondary-color);
}

.navbar a {
    color: var(--title-color);
}

.navbar a:hover {
    text-decoration: underline;
}
/* LINKS END */


/* *BUTTONS */
.btn {
    padding: 0.75rem 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 1.125rem;
    /* width: 100%; */
}

/* btn--round */

.btn__primary {
    background-color: var(--secondary-color);
    color: var(--textfooter-color);
}

.btn__secondary {
    background-color: var(--textfooter-color);
    color: var(--primary-color);
}

.btn__primary:hover, .icon__bg:hover {
    background-color: var(--primary-color);
}

.btn__secondary:hover {
    background-color: transparent;
    color: var(--textfooter-color);
    border: 1px solid var(--textfooter-color);
}
/* BUTTONS END */


/* *BORDERS */
.primary-border {
    border: 2px solid var(--secondary-color);
    margin-bottom: 3rem;
    margin-top: 1rem;
}
/* BORDERS END */


/* *TOPNAV */
.topnav {
    /* DONT show in mobile */
    display: none;
    /* In DESKTOP */
    padding: 0.5rem;
    margin: 0 2rem;
    border-bottom: 1px solid var(--placeholder-color);
}

/* .topnav__border {
    border: 1px solid var(--placeholder-color);
} */

.topnav, #hours {
    justify-content: space-between;
    align-items: center; 
}

#hours i {
    padding: 0.5rem;
}
/* TOPNAV END */


/* *NAVBAR */
.navbar {
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.navbar__toggler {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.navbar__links li {
    list-style: none;
    padding: 1rem;
}

.navbar--collapse {
    display: none;
}
/* NAVBAR END */


/* *SHOWCASE & ABOUTUS */

.content {
    align-self: center;
    text-align: left;
    padding: 3rem;
    height: 100%;
}

.content__text, .content__text p, .content__text h1 {
    margin-bottom: 2rem;
}

#showcase .container, #aboutus .container {
    justify-content: space-around;
    padding: 2rem;
}

#showcase__img, #aboutus__img {
    display: none;
}

#aboutus .primary-border {
    width: 50%;
}

#stats {
    align-items: center;
    text-align: center;
}

#stats h2, #stats h4 {
    margin: 0.5rem;
}
/* SHOWCASE & ABOUT US END */


/* *SERVICES */

#services .content {
    text-align: center;
    justify-content: center;
}
#services .primary-border {
    width: 33%;
    align-self: center;
}


.card-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    margin: auto;
}

/* .icon {
} */

.icon__bg {
    min-height: 125px;
    min-width: 125px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

/* .icon__pic {
} */

/* SERVICES END */


/* *FOOTER */
#appointment {
    padding: 2rem;
    justify-content: space-between;
    text-align: center;
}

#appointment h3 {
    margin-bottom: 2rem;
}

#footer {
    padding: 1rem;
    text-align: center;
}

/* FOOTER EN */


/* TEXTFORMAT */

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 28px;
    color: var(--text-color);
}

h1, h2, h3, h4, a {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    color: var(--title-color);
}

footer h3, footer p {
    color: var(--textfooter-color);
}

/* TEXTSIZES */

h1 {
    font-size: 3.75rem;
    line-height: 70px;
}

h2 {
    font-size: 2.5rem;
    line-height: 50px;
}

h3 {
    font-size: 1.375rem;
    line-height: 30px;
}

h4 {
    font-size: 1.125rem;
}

footer p, #hours p {
    font-size: 1rem;
}


/* *MEDIAQUERIES */

@media (min-width:768px) {

    .topnav , .navbar--collapse, #showcase__img, #aboutus__img  {
        display: flex;
    }

    .navbar__toggler {
        display: none;
    }

    #stats {
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
    }

    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card {
        width: 33%;
    }

    footer {
        align-items: center;
    }

    #appointment {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* text-align: left; */
    }

    #appointment h3 {
        margin-bottom: 0;
    }
}